@import 'src/styles/vars';

#toto-input {
  width: 100%;
  padding: 2em;
  background-color: $bg-dark-color;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: #FFF;
  transition: all .3s;

  &:focus {
    box-shadow: inset 0px 0px 25px #7b0000;
  }

  &::placeholder {
    color: #FFF;
  }
}
