@import 'src/styles/vars';

#todo-list {
  display: flex;
  flex-direction: column;
}

.task {
  background-color: #FFF;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 1px 1px 30px #7d2525;
  margin-bottom: 1em;
  transition: all .3s;
  order: -1;

  &:hover {
    box-shadow: 1px 1px 5px #7d2525;
    transform: scale(1.02);
  }

  &-label {
    margin-left: .5em;
  }

  &--done {
    background-color: #fdc72e;
    text-decoration: line-through;
    padding: 1.5em;
    border-radius: 5px;
    margin-bottom: 1em;
    order: 0;
  }

  &--fav {
    background-color: #2bd240;
    color: #FFF; 
    padding: 1.5em;
    border-radius: 5px;
    margin-bottom: 1em; 
    order: -2; 
  }

  &-fav, &-trash {
    margin : 0 .2em;
    float: right;
  }
}

i {
  float: right;
}
